@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<center>
	<div class="window" style="margin: 32px; width: 250px">
		<div class="title-bar">
			<div class="title-bar-text" id="page-error">
				Error @Model.ErrorCode
			</div>
		</div>
		<div class="window-body">
			<p>
				<b>Error message:</b> <code>@(string.IsNullOrEmpty(Model.ErrorMessage) ? Model.ErrorMessage : "idk")</code>
				<b>Error code:</b> <code>@(Model.ErrorMessage)</code>
			</p>
			<p id="cant-find-page"></p>
			<button onclick="history.back();" id="go-back-button">Go back</button>
		</div>
	</div>
</center>