
@{

}



<h3 id="login-page-heading"></h3>

<br>
<span class="htext">
    <span class="htext" id="login-field-caption"></span>
    <input type="password" id="user_login" name="user_login">
    <button onclick="navigateToAccount()" id="_login-button"><b>Login</b></button>
    <br><br>
    <span class="htext" id="register-proposal"></span>
</span>   <a href="/register" id="_register-button"><button>Register</button></a>

