
@{
}


<center>
    <div class="window" style="margin: 32px; width: 250px">
        <div class="title-bar">
            <div class="title-bar-text" id="no-login">
                Login not found
            </div>
        </div>
        <div class="window-body">
            <p id="account-not-found">Could not find an account with such login!<br>Login data may be wrong or the account has been deleted.</p>
            <button onclick="history.back();" id="go-back-button">Go back</button>
        </div>
    </div>
</center>
