
@{

}

<h3 id="header-account-registered">Done! Thanks for registering.</h3>
<br>
<span class="htext">
	<span style="font-family: Tahoma; font-size: 20px; font-weight: bold; letter-spacing: 2px; display: block; align: center; text-align: -moz-center; text-align: -webkit-center;">%%%login%%%</span><br><br>
	<span class="htext" id="registered-explanation-1">

	</span><br><br>
	<img src="write.png">
	<span class="highlight" id="registered-explanation-2">

	</span><br>
	<span class="htext" id="registered-explanation-3">

		<br>
	</span>
	<br><br>
	<span class="htext" id="registered-button-caption"></span>
	<a href="/account/%%%masked_login_nostars%%%"><button id="gotoaccount-button"><b></b></button></a>
	<br><br>
</span>



<script type="text/javascript">
	// prevents user from refreshing the page
	function disableF5(e) {
		if (e.keyCode === 116 || (e.ctrlKey && e.keyCode === 82)) {
			e.preventDefault();
		}
	}

	document.addEventListener('DOMContentLoaded', function () {
		document.addEventListener("keydown", disableF5);
	});
</script>
