@namespace FloppyVPN
@using static _Functions

@{
	string lang = GetCurrentLanguage(this);
	ViewData["Title"] = Loc.Get("title_topup", lang);
}



<span class="htext">
	<img src="/imgs/account-addtime.png" />
	<span class="highlight" id="topup-balance">
		@Loc.Get("topup-balance", lang)
	</span>
</span>

<br>
<br>

<table>
	<tbody>
		<tr style="text-align: center;">
			<td><b id="column-currency">@Loc.Get("column-currency", lang)</b></td>
			<td><b id="column-cost">@Loc.Get("column-cost", lang)</b></td>
			<td><b id="column-payment-link">@Loc.Get("column-payment-link", lang)</b></td>
		</tr>
		<tr>
			<td>Monero (XMR)</td>
			<td>0.007 XMR</td>
			<td>link</td>
		</tr>
		<tr>
			<td>RUR (Rouble)</td>
			<td>220 ₽</td>
			<td>link</td>
		</tr>
	</tbody>
</table>